{% extends 'base.html' %}
{% block title %} About Us {% endblock %}

<!-- Template by T-PHP https://t-php.fr/43-theme-ecommerce-bootstrap-4.html -->
{% block content %}
<div class="container-fluid">
  <div class="row">
    <div class="col-md-7 col-sm-6">
	    <div class="about-title clearfix">
        <h1>About <span>Digital Security Hub</span></h1>
		    <h3>We find products so you don't have to!</h3>
		    <p class="about-paddingB">Digital Security Hub is a centralized marketplace to find and test professional security applications and tools. We understand the difficulty and time commitment to find the tools that are just right for your use case so we developed a market to quickly find and analyze applications for numerous use cases.</p>
        <p>Our mission is to supply security professionals with the tools they need to properly do their job. We understand the importance of time when working, meaning our goal is to provide security for others by giving the people who keep them secure less busy.
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block base_head %}
<style>
.paddingTB60 {
  padding:60px 0px 60px 0px;
}

.gray-bg {
  background: #F1F1F1 !important;
}

.about-title h1 {
  color: #535353;
  font-size:45px;
  font-weight:600;
}
.about-title span {
  color: #AF0808;
  font-size:45px;
  font-weight:700;
}

.about-title h3 {
  color: #535353;
  font-size:23px;
  margin-bottom:24px;
}

.about-title p {
  color: #7a7a7a;
  line-height: 1.8;
  margin: 0 0 15px;
}

.about-paddingB {
  padding-bottom: 12px;
}

.about-img {
  padding-left: 57px;
}
</style>
{% endblock %}