{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block title %} User Profile {% endblock %}

<!-- Template created by jeevan123456 https://bootsnipp.com/snippets/bx5Be -->
{% block content %}
<div class="container-fluid">
	<div class="row">
		<div class="col-md-3 ">
		     <div class="list-group ">
            <a href="/accounts/signin" class="list-group-item list-group-item-action active">Profile</a>
            <a href="/cart" class="list-group-item list-group-item-action">Cart</a>
            <a href="#" class="list-group-item list-group-item-action">Orders</a>
            <a href="#" class="list-group-item list-group-item-action">Delete Account</a>
          </div>
		</div>
		<div class="col-md-9">
		    <div class="card">
		        <div class="card-body">
		            <div class="row">
		                <div class="col-md-12">
		                    <h4>Your Profile</h4>
		                    <hr>
		                </div>
		            </div>
		            <div class="row">
		                <div class="col-md-12">
                      <div class="form-group row">
                        <label for="username" class="col-4 col-form-label">User Name:</label>
                        <div class="col-8">
                          <label id="username">{{ user.username }}</label>
                        </div>
                      </div>
                      <div class="form-group row">
                        <label for="email" class="col-4 col-form-label">Email:</label>
                        <div class="col-8">
                          <label id="email">{{ user.email }}</label>
                        </div>
                      </div>
                      <div class="form-group row">
                        <label for="firstname" class="col-4 col-form-label">First Name:</label>
                        <div class="col-8">
                          <label id="firstname">{{ user.first_name }}</label>
                        </div>
                      </div>
                      <div class="form-group row">
                        <label for="lastname" class="col-4 col-form-label">Last Name:</label>
                        <div class="col-8">
                          <label id="lastname">{{ user.last_name }}</label>
                        </div>
                      </div>
                      <div class="form-group row">
                        <label for="address" class="col-4 col-form-label">{{ user_type }} Address:</label>
                        <div class="col-8">
                          <label id="address">{{ data.address }}</label>
                        </div>
                      </div>
                      <div class="form-group row">
                        <label for="city" class="col-4 col-form-label">{{ user_type }} City:</label>
                        <div class="col-8">
                          <label id="city">{{ data.city }}</label>
                        </div>
                      </div>
                      <div class="form-group row">
                        <label for="state" class="col-4 col-form-label">{{ user_type }} State:</label>
                        <div class="col-8">
                          <label id="state">{{ data.state }}</label>
                        </div>
                      </div>
                      <div class="form-group row">
                        <label for="zip" class="col-4 col-form-label">{{ user_type }} ZIP:</label>
                        <div class="col-8">
                          <label id="zip">{{ data.zip }}</label>
                        </div>
                      </div>
		                </div>
                </div>
                {% if user_type == 'Company' %}
                <form action="/products/"  method="post">{% csrf_token %}
                  {% for field in form %}
                  <div class="form-group">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"> {{field.label}} </span>
                        </div>
                        {{ field }}
                    </div>
                  </div>
                  {% endfor %}
                   <div class="form-group">
                      <button type="submit" class="btn btn-primary btn-block"> Create Product  </button>
                   </div>
                </form>
                {% endif %}
		        </div>
		    </div>
		</div>
	</div>
</div>
{% endblock %}
