{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block title %} User Profile {% endblock %}
{% block content %}
{% if not user_type %}
<p> Customer Details</p>
<hr>
<p>
    username: {{ user.username }}
    <br>
    email: {{ user.email }}
    <br>
    First name: {{ user.first_name }}
    <br>
    Last name: {{ user.last_name }}
    <br>

    <hr>
    Address: {{ customer.address }}
    <br>
    City: {{ customer.city }}
    <br>
    State: {{ customer.state }}
    <br>
    Zip Code: {{ customer.zip }}
    <br>

<hr>
    </p>
{% else %}
<p>Vendor Details</p>

<p>
    <hr>
   username: {{ user.username }}
    <br>
    email: {{ user.email }}
    <br>
    First name: {{ user.first_name }}
    <br>
    Last name: {{ user.last_name }}
    <br>
<hr>
    Company Address: {{ company.address }}
    <br>
    Company City: {{ company.city }}
    <br>
    CompanyState: {{ company.state }}
    <br>
    Company Zip Code: {{ company.zip }}
    <br>
</p>
{% endif %}

<br>
<p>click here to view cart</p>
<form action="/cart"  method="delete">{% csrf_token %}
        <br><button type="submit" value="submit" class="btn btn-success">Submit</button>
    </form>
<br>
<hr>
<p> if you want to delete</p>
    <form action="/accounts/customer"  method="delete">{% csrf_token %}
        {{ form|crispy }}
        <br><button type="submit" value="submit" class="btn btn-success">Submit</button>
    </form>


{% endblock %}
