{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block title %} Cart {% endblock %}

<!-- Template created by ZMrSnow https://bootsnipp.com/snippets/K012l -->
{% block content %}
<div id="sAlert" class="alert alert-primary" role="alert">
  Cart updated!
</div>
<div id="dAlert" class="alert alert-danger" role="alert">
  Failed to update cart! Are you logged in?
</div>
<div class="container-fluid">
	<div class="row">
		<div class="col-md-3 ">
		     <div class="list-group ">
            <a href="/accounts/signin" class="list-group-item list-group-item-action">Profile</a>
            <a href="/cart" class="list-group-item list-group-item-action active">Cart</a>
            <a href="/orders" class="list-group-item list-group-item-action">Orders</a>
            <a href="/accounts/delete" class="list-group-item list-group-item-action">Delete Account</a>
          </div>
		</div>
    <div class="col">
      <div class="row">
        <div class="col-12">
            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th scope="col"> </th>
                            <th scope="col">Product</th>
                            <th scope="col">Available</th>
                            <th scope="col" class="text-center">Quantity</th>
                            <th scope="col" class="text-right">Price</th>
                            <th> </th>
                        </tr>
                    </thead>
                    <tbody>
                      {% for item in cart_items %}
                        <tr>
                            <td><img src="https://dummyimage.com/50x50/55595c/fff" /> </td>
                            <td>{{item.Product.Title}}</td>
                            <td>{% if not item.Product.Active %}Unavailable{% elif item.Product.Stock == 0 %}Out of Stock{% else %}In Stock{% endif %}</td>
                            <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{item.Quantity}}</td>
                            <td class="text-right">${{item.Product.Price}}</td>
                             {% csrf_token %} 
                            <td class="text-right"><button onclick="deleteFromCart({{item.product_id}})" class="btn btn-sm btn-danger"><i class="fa fa-trash"></i> </button> </td>
                        </tr>
                      {% endfor %}
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td>Sub-Total</td>
                            <td class="text-right">${{total}}</td>
                        </tr>
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td>Shipping</td>
                            <td class="text-right">Free!</td>
                        </tr>
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td><strong>Total</strong></td>
                            <td class="text-right"><strong>${{total}}</strong></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="col mb-2">
            <div class="row">
                <div class="col-sm-12  col-md-6">
                </div>
                <div class="col-sm-12 col-md-6 text-right">
                    <a
                      href="/orders/checkout"
                      class="btn btn-lg btn-block btn-success text-uppercase {% if cart_items|length == 0 %}disabled{% endif %}"
                    >Checkout</a>
                </div>
            </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block javascript %}
<script>
var enableNotif = true;
function deleteFromCart(productId) {
	// Assemble AJAX request
	var xhr = new XMLHttpRequest();
  xhr.open("DELETE", "http://" + window.location.host + "/cart/", true);
  
  xhr.setRequestHeader('Content-Type', 'application/json')
  xhr.setRequestHeader("X-CSRFToken", $("input[name=csrfmiddlewaretoken]").val())
	xhr.send(JSON.stringify({"product_id": productId}));

	// Handle error handling
	enableNotif = false;
	xhr.onreadystatechange = function () {
    if (enableNotif === false) {
      if (xhr.readyState === 4 && xhr.status === 200) {
        $("#sAlert").show();
        setTimeout(function(){
          $("#sAlert").hide('close');
          enableNotif = true;
        }, 2000);
      } else if (xhr.readyState === 4 && xhr.status !== 200) {
        $("#dAlert").show();
        setTimeout(function(){
          $("#dAlert").hide('close');
          enableNotif = true;
        }, 2000);
      }
    }
  };
};
</script>
{% endblock %}

{% block base_head %}
<style>
.alert {
  display: none;
  position: absolute;
  width: 100%;
  top: 100;
  left: 0;
  text-align:
  center;
  z-index: 10;
}
</style>
{% endblock %}