async-timeout==3.0.1
attrs==19.1.0
beautifulsoup4==4.7.1
Django==2.2
django-cors-headers==3.0.2
django-extensions==2.1.6
django-rest-framework==0.1.0
django-werkzeug-debugger-runserver==0.3.1
djangorestframework==3.9.4
hyperlink==19.0.0
requests==2.22.0
soupsieve==1.9.1
sqlparse==0.3.0
urllib3==1.25.3
virtualenv==16.5.0
Werkzeug==0.15.2