{% extends 'base.html' %}
{% block title %} Shop {% endblock %}
{% block content %}
<div id="sAlert" class="alert alert-primary" role="alert">
  Item added to cart!
</div>
<div id="dAlert" class="alert alert-danger" role="alert">
  Failed to add item to cart! Are you logged in?
</div>
<div class="container">
    <div class="row">
        <div class="col-12 col-sm-3">
            <div class="card bg-light mb-3">
                <div class="card-header bg-primary text-white text-uppercase"><i class="fa fa-list"></i> Categories</div>
                <ul class="list-group category_block">
                    <li class="list-group-item"><a>Hardware</a></li>
                    <li class="list-group-item"><a>Networking</a></li>
                    <li class="list-group-item"><a>Tools</a></li>
                    <li class="list-group-item"><a>Virtualization</a></li>
                    <li class="list-group-item"><a>Cloud</a></li>
                </ul>
            </div>
        </div>
        <div class="col">
            <div class="row">
              {% for product in products %}
                <div class="col-12 col-md-6 col-lg-4">
                    <div class="card">
                        <img class="card-img-top" src="https://dummyimage.com/600x400/55595c/fff" alt="Card image cap">
                        <div class="card-body">
                            <h4 class="card-title"><a href="/products/{{product.id}}" title="View Product">{{product.name}}</a></h4>
                            <p class="card-text">{{product.description}}</p>
                            <div class="row">
                                <div class="col">
                                    <p class="btn btn-danger btn-block">{{product.price}}</p>
                                </div>
                                <div class="col">
                                    <button
                                      id="prod_{{product.id}}"
                                      onclick="addToCart({{product.id}})"
                                      class="btn btn-success btn-block
                                        {% if not product.active or product.stock == 0 %}disabled{% endif %}"
                                      >{% if not product.active %}Unavailable{% elif product.stock == 0 %}Out of Stock{% else %}Add to cart{% endif %}</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
              {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block javascript %}
<script>
var enableNotif = true;
function addToCart(productId) {
  // Assemble AJAX request
  var xhr = new XMLHttpRequest();
  xhr.open("POST", "https://" + window.location.host + "/products/" + productId, true);
  xhr.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
  xhr.send();

  // Handle error handling
  enableNotif = false;
  xhr.onreadystatechange = function () {
    if (enableNotif === false) {
      if (xhr.readyState === 4 && xhr.status === 200) {
        $("#sAlert").show();
        setTimeout(function(){
          $("#sAlert").hide('close');
          enableNotif = true;
        }, 2000);
      } else if (xhr.readyState === 4 && xhr.status !== 200) {
        $("#dAlert").show();
        setTimeout(function(){
          $("#dAlert").hide('close');
          enableNotif = true;
        }, 2000);
      }
    }
  };
};

</script>
{% endblock %}

{% block base_head %}
<style>
.alert {
  display: none;
  position: absolute;
  width: 100%;
  top: 100;
  left: 0;
  text-align:
  center;
  z-index: 10;
}

.btn {
  width: 100%;
}
</style>
{% endblock %}