{% url 'home' as home_url %}
{% url 'contact' as contact_url %}
{% url 'products:list' as product_list_url %}
{% url 'login' as login_url %}
{% url 'logout' as logout_url %}
{% url 'register' as register_url %}

{% url 'account:home' as account_url %}
{% url 'cart:home' as cart_url %}

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <a class="navbar-brand" href="/home">DigitalSecurityHub</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item {% if 'home' in request.path or '/' == request.path %}active{% endif %}">
                <a class="nav-link" href="/home">Home</a>
              </li>
              <li class="nav-item {% if 'Support' in request.path %}active{% endif %}">
                <a class="nav-link" href="#">Support</a>
              </li>
              <li class="nav-item {% if 'contact' in request.path %}active{% endif %}">
                <a class="nav-link"  href="/main/contact">Contact</a>
              </li>
          {% if user.is_authenticated %}
              <li class="nav-item {% if 'signout' in request.path %}active{% endif %}" >
                <a class="nav-link"  href="/accounts/signout">Logout</a>
              </li>
                <li class="nav-item {% if 'signin' in request.path %}active{% endif %}"" >
                <a class="nav-link"  href="/accounts/signin">Profile</a>
              </li>
          {% else %}
              <li class="nav-item {% if 'signin' in request.path %}active{% endif %}"" >
                <a class="nav-link"  href="/accounts/signin">Login</a>
              </li>
              <li class="nav-item {% if 'signup' in request.path %}active{% endif %}"" >
                <a class="nav-link"  href="/accounts/signup">Register</a>
              </li>
          {% endif %}

        </ul>

      </div>
    </nav>